/* 
color-palette
dark-background: #343d46 
light-background: #c0c5ce

dark-text: #4f5b66
light-text: #65737e

light: #a7adba

*/

body{
    background-color: #343d46 !important;
}
#root{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
}
.head-line{
    width: 40vh;
    height: fit-content;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #343d46;
    background-color: #a7adba;
}
.form-container{
    position: relative;
    width: 400px;
    height: fit-content;
    padding: 20px;
}

.dropdown-menu{
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    margin-bottom: 100px !important;
    animation: fadeInAnimation .2s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.dropdown-item:hover{
    background: rgba(255, 255, 255, 0.2) !important;
}

@media screen and (max-width: 500px) {
}